.page-container{
  width: 100%;
  padding: 1.5rem;
  background-color: var(--background-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
